/* Reset margin, padding, border
 * *********************************** */

 html, body,
 h1, h2, h3, h4, h5, h6,
 a, p, span,
 em, small, strong,
 sub, sup,
 mark, del, ins, strike,
 abbr, dfn,
 blockquote, q, cite,
 code, pre,
 ol, ul, li, dl, dt, dd,
 div, section, article,
 main, aside, nav,
 header, hgroup, footer,
 img, figure, figcaption,
 address, time,
 audio, video,
 canvas, iframe,
 details, summary,
 fieldset, form, label, legend,
 table, caption,
 tbody, tfoot, thead,
 tr, th, td {
     margin: 0;
     padding: 0;
     border: 0;
 }
 
 /* Typography
  * *********************************** */
 
 html {
     font-size: 62.5%;
 }
 
 body {
     font-size: 1.6rem;
     line-height: 1.4;
 }
 
 * {
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
 }
 
 a,
 a:visited {
     color: inherit;
     text-decoration: none;
 }
 
 /* Layout
  * *********************************** */
 
 article,
 aside,
 footer,
 header,
 nav,
 section,
 main {
     display: block;
 }
 
 * {
     box-sizing: border-box;
 }
 
 *:before,
 *:after {
     box-sizing: inherit;
 }
 
 /* Elements
  * *********************************** */
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 
 ol,
 ul {
     list-style: none;
 }
 
 img,
 video {
     max-width: 100%;
 }
 
 img {
     border-style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:after,
 blockquote:before,
 q:after,
 q:before {
     content: "";
     content: none;
 }
 
 /* Attributes & states
  * *********************************** */
 
 [hidden] {
     display: none !important;
 }
 
 [disabled] {
     cursor: not-allowed;
 }
 
 :focus:not(:focus-visible) {
     outline: none;
 }
 
 /* Utility classes
  * *********************************** */
 
 .sr-only {
     position: absolute;
     clip: rect(1px, 1px, 1px, 1px);
     left: -9999px;
     top: -9999px;
 }
 


 /* END OF CSS RESET */


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

 html {
	scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

h1 {
    font-weight: normal;
}

nav {
    z-index: 9999;
    width: 100%;
    position: fixed;
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(161,161,161,0.78);
    -moz-box-shadow: 0px 3px 3px 0px rgba(161,161,161,0.78);
    box-shadow: 0px 3px 3px 0px rgba(161,161,161,0.78);
  }

  .nav-links {
    list-style: none;
    display: flex;
  }

  .navbar a {
    text-decoration: none;
  }

  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
  }

  .nav-item:hover {
    background-color: #34eb92;
  }

  .home {
    font-family: 'Esteban', serif;
  }

  .logo {
      font-family: 'Esteban', serif;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 0.9rem;
      letter-spacing: 0.1rem;
  }
  .logo:hover {
    color: #34eb92;
  }

  .home {
      display: grid;
      grid-template-columns: 1.25fr 3fr 1.5fr 3fr 1.25fr;
      grid-template-rows: 2fr 3fr 3fr 2fr;
      height: 100vh;
      width: 100vw;
  }

  .name-top {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-family: 'Esteban', serif;
      font-size: 5.4rem;
      text-align: right;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
  }

  .name-bottom {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-family: 'Esteban', serif;
    font-size: 6.4rem;
    color: #34eb92;
    text-align: right;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .middle {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
      font-family: 'Esteban', serif;
      font-size: 14.0rem;
      color: #34eb92;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2.0rem;
  }

  .bio-top {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    font-family: 'Esteban', serif;
    font-size: 3.2rem;
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bio-bottom {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-family: 'Esteban', serif;
    font-size: 3.3rem;
    font-weight: normal;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #34eb92;
}

.button-div-1 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.button-1 {
    background-color: white;
    border: 1px solid white;
    font-size: 2.4rem;
    padding-top: 1.5rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-family: 'Montserrat', serif;
}

.button-1:hover {
    color: #34eb92;
    transform: scale(1.1);
}

.fas fa-arrow-down {
    font-size: 1.6rem;
}

.work {
    display: grid;
    grid-template-columns: repeat(8, 1.25fr);
    grid-template-rows: repeat(8, 1.25fr);
    height: 100vh;
    width: 100vw;
    grid-gap: 5px;
}

.skills-top {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    font-family: 'Esteban', serif;
    font-size: 4.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 2.0rem;
}

.skills-middle {
    grid-column: 2 / 4;
    grid-row: 5 / auto;
    font-family: 'Esteban', serif;
    font-size: 3.2rem;
    background-color: #34eb92;
    padding-right: 1.0rem;
    text-align: right;
    margin-right: 2.0rem;
    box-shadow: 1.0rem 1.0rem;
    border: 2px solid black;
}

#projects-top {
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    font-family: 'Esteban', serif;
    font-size: 4.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.projects {
    grid-column: 4 / 8;
    grid-row: 3 / 8;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "project-1 project-2"
        "project-3 project-4"
        "project-5 project-6";
    background-color: #34eb92;
    padding: 1.0rem;
    margin-bottom: 1rem;
    box-shadow: 1.25rem 1.25rem;
    border: 2px solid black;
}

.project-1 {
    background: url('http://bit.ly/2k0NPHq');
}

.project-2 {
    background: url('http://bit.ly/2lOZ3z5');
}

.project-3 {
    background: url('http://bit.ly/2lOftHY');
}

.project-4 {
    background: url('http://bit.ly/2lQ7SbT');
}
.project-5 {
    background: url('http://bit.ly/2lRmzeQ');
}
.project-6 {
    background: url('http://bit.ly/2krOYHZ');
}

.projects * {
    background-size: cover;
    filter: grayscale(1);
}
.projects *:hover {
    background-size: cover;
    filter: grayscale(0);
}

.button-div-2 {
    grid-column: 4 / 6;
    grid-row: 8 / 9;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.button-2 {
    background-color: white;
    border: 1px solid white;
    font-size: 2.4rem;
    padding-top: 1.5rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    margin-top: 2.5rem;
    padding-bottom: 2.0rem;
    font-family: 'Montserrat', serif;
}

.button-2:hover {
    color: #34eb92;
    transform: scale(1.1);
}

.button-1 > .fas {
    color: #34eb92;
    animation: bounce 1s linear infinite;
}
.button-2 > .fas {
    color: #34eb92;
    animation: bounce 1s linear infinite;
}


@keyframes bounce {

    0% {
      transform: translateY(0em);
    }

    20% {
        transform: translateY(0.25em);
      }
  
    40% {
      transform: translateY(0.5em);
    }
  
    60% {
      transform: translateY(0.25em);
    }
  
    80% {
      transform: translateY(0rem);
    }

    90% {
        transform: translateY(-0.15em);
      }
  
  }

.contact {
    padding-top: 58px;
    display: grid;
    grid-template-columns: repeat(8, 1.25fr);
    grid-template-rows: repeat(8, 1.25fr);
    height: 100vh;
    width: 100vw;
}

.contact-text {
    font-family: 'Esteban', serif;
    font-size: 9.5rem;
    grid-column: 2 / span 3;
    grid-row: 2 / -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 9.0rem;
}

.contact-1 {
    font-family: 'Esteban', serif;
    font-size: 3.6rem;
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34eb92;
    border: 2px solid black;
    box-shadow: 1.25rem 1.25rem;
}

.contact-1:hover {
    background-color: #f542ad;
    box-shadow: none;
    transform: translateX(1.25rem);
    transform: translateY(1.25rem);
}

.contact-2 {
    font-family: 'Esteban', serif;
    font-size: 3.6rem;
    grid-column: 6 / span 2;
    grid-row: 4 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34eb92;
    border: 2px solid black;
    box-shadow: 1.25rem 1.25rem;
}

.contact-2:hover {
    background-color: #f542ad;
    box-shadow: none;
    transform: translateX(1.25rem);
    transform: translateY(1.25rem);
}

.contact-3 {
    font-family: 'Esteban', serif;
    font-size: 3.6rem;
    grid-column: 6 / span 2;
    grid-row: 6 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34eb92;
    border: 2px solid black;
    box-shadow: 1.25rem 1.25rem;
}

.contact-3:hover {
    background-color: #f542ad;
    box-shadow: none;
    transform: translateX(1.25rem);
    transform: translateY(1.25rem);
}